<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!---Default Connection used for logins local database connection -->
    <add name="DefaultConnection" connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=Identity;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--Used for Retrieve data using gridview -->
    <add name="BannerDatabase01CS" connectionString="Data Source=(local);Initial Catalog=BannerDatabase01;Persist Security Info=True;User ID=sa;Password=Transcom2015" providerName="System.Data.SqlClient" />  
    <!--Used for Retrieve data using gridview -->
    <add name="UserCS" connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=Identity;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <!--Used to connect SQL Express database-->
    <add name="Banner01" connectionString="metadata=res://*/Models.BannerDatabase01.csdl|res://*/Models.BannerDatabase01.ssdl|res://*/Models.BannerDatabase01.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=BannerDatabase01;persist security info=True;user id=sa;password=Transcom2015;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--Used for AzureDataBase -->
    <add name="bluerivercollege" connectionString="metadata=res://*/Models.AzureDataModel.csdl|res://*/Models.AzureDataModel.ssdl|res://*/Models.AzureDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=bluerivercollege.database.windows.net;initial catalog=bluerivercollege_db;persist security info=True;user id=pavsingh;password=Transcom2015;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="none" />
  </appSettings>
  <system.web>
    <authentication mode="Forms" />
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <!--Used for Error Handling page -->
    <customErrors mode="On" defaultRedirect="ErrorPage.aspx?handler=customErrors%20section%20-%20Web.config">
      <error statusCode="404" redirect="ErrorPage.aspx?msg=404&amp;handler=customErrors%20section%20-%20Web.config" />
    </customErrors>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--Used for Block the unknown user's entry into database accept admin user -->
  <location path="Programs">
    <system.web>
      <authorization>
        <allow users="admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <!--Used for Block the unknown user's entry into database accept admin user -->
  <location path="Users">
    <system.web>
      <authorization>
        <allow users="admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>