<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bluerivercollege.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>bluerivercollege.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>bluerivercollege</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$bluerivercollege</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Assignment2_EnterpriseComputing.Models.IdentityEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:bluerivercollege.database.windows.net,1433;Initial Catalog=bluerivercollege_db;User ID=pavsingh@bluerivercollege;Password=Transcom2015" Name="Data Source=tcp:bluerivercollege.database.windows.net,1433;Initial Catalog=bluerivercollege_db;User Id=pavsingh@bluerivercollege;Password=Transcom2015" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Assignment2_EnterpriseComputing.Models.IdentityEntities, Assignment2-EnterpriseComputing" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Banner01" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:bluerivercollege.database.windows.net,1433;Initial Catalog=bluerivercollege_db;User ID=pavsingh@bluerivercollege;Password=Transcom2015" Name="Data Source=tcp:bluerivercollege.database.windows.net,1433;Initial Catalog=bluerivercollege_db;User Id=pavsingh@bluerivercollege;Password=Transcom2015" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Assignment2_EnterpriseComputing.Models.Banner01, Assignment2-EnterpriseComputing" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="BannerDatabase01CS" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:bluerivercollege.database.windows.net,1433;Initial Catalog=bluerivercollege_db;User ID=pavsingh@bluerivercollege;Password=Transcom2015" Name="Data Source=tcp:bluerivercollege.database.windows.net,1433;Initial Catalog=bluerivercollege_db;User Id=pavsingh@bluerivercollege;Password=Transcom2015" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(local);Initial Catalog=BannerDatabase01;Persist Security Info=True;User ID=sa;Password=Transcom2015" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BannerDatabase01CS_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(local);Initial Catalog=BannerDatabase01;Persist Security Info=True;User ID=sa;Password=Transcom2015" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:bluerivercollege.database.windows.net,1433;Initial Catalog=bluerivercollege_db;User ID=pavsingh@bluerivercollege;Password=Transcom2015" Name="Data Source=tcp:bluerivercollege.database.windows.net,1433;Initial Catalog=bluerivercollege_db;User Id=pavsingh@bluerivercollege;Password=Transcom2015" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\ProjectsV12;Initial Catalog=Identity;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\ProjectsV12;Initial Catalog=Identity;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="UserCS" Order="5" Enabled="False">
          <Destination Path="Data Source=tcp:bluerivercollege.database.windows.net,1433;Initial Catalog=bluerivercollege_db;User ID=pavsingh@bluerivercollege;Password=Transcom2015" Name="Data Source=tcp:bluerivercollege.database.windows.net,1433;Initial Catalog=bluerivercollege_db;User Id=pavsingh@bluerivercollege;Password=Transcom2015" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\ProjectsV12;Initial Catalog=Identity;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\UserCS_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\ProjectsV12;Initial Catalog=Identity;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Assignment2_EnterpriseComputing.Models.IdentityEntities-Web.config Connection String">
      <ParameterValue>Data Source=tcp:bluerivercollege.database.windows.net,1433;Initial Catalog=bluerivercollege_db;User Id=pavsingh@bluerivercollege;Password=Transcom2015</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Banner01-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.BannerDatabase01.csdl|res://*/Models.BannerDatabase01.ssdl|res://*/Models.BannerDatabase01.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:bluerivercollege.database.windows.net,1433;Initial Catalog=bluerivercollege_db;User Id=pavsingh@bluerivercollege;Password=Transcom2015"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BannerDatabase01CS-Web.config Connection String">
      <ParameterValue>Data Source=tcp:bluerivercollege.database.windows.net,1433;Initial Catalog=bluerivercollege_db;User Id=pavsingh@bluerivercollege;Password=Transcom2015</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:bluerivercollege.database.windows.net,1433;Initial Catalog=bluerivercollege_db;User Id=pavsingh@bluerivercollege;Password=Transcom2015</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)UserCS-Web.config Connection String">
      <ParameterValue>data source=tcp:bluerivercollege.database.windows.net,1433;initial catalog=bluerivercollege_db;user id=pavsingh@bluerivercollege;password=Transcom2015;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Assignment2_EnterpriseComputing.Models.IdentityEntities" />
  </ItemGroup>
</Project>